<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPRINT 7</title>
</head>

<body>
   
    <div class="content-fluid" [routerLink]="['/SPRINT-7/paginaWeb:'+(this.pageWeb.checked)+'&campañaSEO:'+this.consultoriaSEO.checked+'&campañaADS:'+this.googleAds.checked+'&Paginas:'+this.webform_calc.value.pages+'&Idiomas:'+this.webform_calc.value.idioms]">
        <div class="row">
            <div class="col-6">
                <ng-template #content1 let-modal>
                    <strong><p class="text-center pt-2" id="modal-basic-title">Este campo contiene el número de pàginas que tendra la web</p></strong>
                </ng-template>
            
                <ng-template #content2>
                    <strong><p class="modal-text text-center pt-2" id="modal-basic-title">Este campo contiene el número de idiomas que tendra la web</p></strong>
                </ng-template>
            
                <table class="col-12">
                   
                    <tr>
                        <div class="container-fluid p-3">
                            <div class="row">
                                <form [formGroup]="user_info">
                                    <label class="col-6 my-1" for="name">Nombre de usuario: </label>
                                        <input mdbValidate mdbInput class="col-6 my-1" id="name" name="name" type="text" formControlName="name" #name required>
                                    <div class="text-danger text-end" *ngIf="user_info.controls['name'].errors && (user_info.controls['name'].dirty || user_info.controls['name'].touched)">Nombre de usuario no valido !</div>
                                    <label class="col-6 my-1" for="name_presu">Nombre del presupuesto: </label>
                                    <input class="col-6 my-1" id="name_presu" name="name_presu" type="text" formControlName="name_presu" #name_presu>
                                    <div class="text-danger text-end" *ngIf="user_info.controls['name_presu'].errors && (user_info.controls['name_presu'].dirty || user_info.controls['name_presu'].touched)" class="col-12 text-end text-danger">Nombre presupuesto no valido !</div>
                                </form>
                            </div>
                        </div>
                        <div class="container p-3">
                            <div class="row">
                                <input class="col-1" id="inputPaginaWeb" [routerLink]="['/SPRINT-7/paginaWeb:'+(!this.pageWeb.checked)+'&campañaSEO:'+!this.consultoriaSEO.checked+'&campañaADS:'+!this.googleAds.checked+'&Paginas:'+this.webform_calc.value.pages+'&Idiomas:'+this.webform_calc.value.idioms]" (change)="event_checkbox(pageWeb, '0')" type="checkbox" #pageWeb>
                                <div id="check_0" class="col-11">Una pagina web (500€)</div>
                            </div>
                        </div>
            
                        <div id="card" class="card container p-4 col-12" [ngStyle]="{'display': 'none'}">
            
                            <form [formGroup]="webform_calc" [routerLink]="['/SPRINT-7/paginaWeb:'+(!this.pageWeb.checked)+'&campañaSEO:'+!this.consultoriaSEO.checked+'&campañaADS:'+!this.googleAds.checked+'&Paginas:'+this.webform_calc.value.pages+'&Idiomas:'+this.webform_calc.value.idioms]" (change)="updatePriceWeb()">
                                <div class="row p-1">
                                    <label class="col-3" for="pages">Número de páginas: </label>
                                    <button class="col-2 text-white general_button " (click)="cacule('pages', '+')">+</button>
                                    <input class="col-3" value="0" id="pages" type="number" formControlName="pages" #paginas required min="1">
                                    <button class="col-2 text-white general_button " (click)="cacule('pages', '-')">-</button>
                                    <button class="col-2 info mx-2" (click)="openModal(content1)"><img class="info"
                                            src="../../assets/img/informacion.png"></button>
            
                                </div>
                                <div class="row p-1">
                                    <label class="col-3" for="idioms">Número de idiomas: </label>
                                    <button class="col-2 text-white general_button " (click)="cacule('idioms', '+')">+</button>
                                    <input class="col-3" value="0" id="idioms" type="number" formControlName="idioms" #idiomas required min="1">
                                    <button class="col-2 text-white general_button" (click)="cacule('idioms', '-')">-</button>
                                    <button class="col-2 info mx-2" (click)="openModal(content2)"><img class="info"
                                            src="../../assets/img/informacion.png"></button>
                                </div>
                            </form>
                        </div>
                    </tr>
                    <tr>
                        <div class="container p-3">
                            <div class="row">
                                <input class="col-1" id="inputConsultoriaSEO" [routerLink]="['/SPRINT-7/paginaWeb:'+(!this.pageWeb.checked)+'&campañaSEO:'+!this.consultoriaSEO.checked+'&campañaADS:'+!this.googleAds.checked+'&Paginas:'+this.webform_calc.value.pages+'&Idiomas:'+this.webform_calc.value.idioms]" (change)="event_checkbox(consultoriaSEO, '1')" type="checkbox" #consultoriaSEO>
                                <div id="check_1" class="col-11">Una consultoria SEO (300€)</div>
                            </div>
                        </div>
                    </tr>
                    <tr>
                        <div class="container p-3">
                            <div class="row">
                                <input class="col-1" id="inputGoogleAds" [routerLink]="['/SPRINT-7/paginaWeb:'+(!this.pageWeb.checked)+'&campañaSEO:'+!this.consultoriaSEO.checked+'&campañaADS:'+!this.googleAds.checked+'&Paginas:'+this.webform_calc.value.pages+'&Idiomas:'+this.webform_calc.value.idioms]" (change)="event_checkbox(googleAds, '2')" type="checkbox" #googleAds>
                                <div id="check_2" class="col-11">Una campanya de Google Ads (200€)</div>
                            </div>
                        </div>

                        <div *ngIf="this.div_check_error == true && !this.pageWeb.checked" class="col-12 text-center text-danger py-3">Haz click en un check!</div>
                    </tr>
                    <tr>
                        <div class="container col-3">
                            <div class="row total_div">
                                <div class="col-5"><strong>Price: </strong></div>
                                <div class="col-5 " id="price">0</div>
                                <div class="col-2">€</div>
                            </div>
                        </div>
                    </tr>
                    <tr>
                        <div class="container col-6 my-3">
                            <div class="row">
                              <button (click)="addtoForms()" class="text-white general_button">Save</button>
                            </div>
                        </div>
                    </tr>
                </table>
            </div>
            <div class="col-6">
                <div class="container-fluid">
                    <div class="row">
                        <p>Order by : </p>
                        <form [formGroup]="group_input">
                            <input formControlName="input_NP"  placeholder="Nombre presupuesto" type="text" id="search_n" width="auto" height="auto">
                            <button (click)="inputNameChange()" class="col-1 m-3 border text-white bg-transparent border-white text-start"><img src="https://cdn0.iconfinder.com/data/icons/very-basic-2-android-l-lollipop-icon-pack/24/search-512.png" width="25px" height="25px"></button>
                        </form>
                        <button (click)="filter('alfabetic')" class="col-3 m-3 text-white general_button">A-Z</button>
                        <button (click)="filter('date')" class="col-3 m-3 text-white general_button">Date</button>
                        <button (click)="filter('restart')" class="col-3 m-3 text-white general_button">Restart order</button>
                        <div *ngIf="this.error == true" class="col-12 text-center text-danger py-3">No existe el nombre que has introducido, por favor escriba otro nombre de presupuesto</div>
                    </div>
                </div>
                <div *ngFor="let user of arrForms;">
                    <div *ngIf="this.error == false" class="card my-3">
                        <div class="card-item">Nombre del presupuesto : {{user.name_form}}</div>
                        <div class="card-item">Nombre del usuario : {{user.name_user}}</div>
                        <div class="card-item">Precio : {{user.price}}</div>
                        <div class="card-item">Fecha de subida : {{user.date}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
    integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
    crossorigin="anonymous"></script>
</html>